<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gowTechWGPTestSuiteExecution">
    <listeners>
        <listener class-name="Utils.listeners.TestListener"/>
        <listener class-name="Utils.listeners.AnnotationTransformer"/>
    </listeners>
    <suite-files>
<!--        <suite-file path="XMLs/WGPTest-E2E.xml"></suite-file>-->
<!--        <suite-file path="XMLs/WGPTest-E2E-NegativeScenarios.xml"></suite-file>-->
        <suite-file path="XMLs/WGPTest-E2E-Parallel.xml"></suite-file>
    </suite-files>
</suite>
